################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LazyPI/LazyPI/bin
/LazyPI/LazyPI/obj
/LazyPI/LazyPI_Test/bin/Debug
/LazyPI/LazyPI_Test/obj
/LazyPI/.vs/LazyPI/v14
